ion-header {
    &.ion-no-border {
        border: none;
    }

    ion-toolbar {
        display: fixed;
        z-index: 1;
        --background: linear-gradient(90deg, #00CCFF, #FF00CC);

        ion-icon.back,
        ion-icon.logout {
            font-size: 40px;
            color: #fff;
            cursor: pointer;
        }

        ion-icon.back:hover,
        ion-icon.logout:hover {
            color: #000;
            transform: scale(1.1);
        }
    }
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/fondo.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
}

ion-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease;
    background-color: rgba(34, 34, 34, 0.75);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

ion-icon {
    font-size: 24px;
    margin-right: 2px;
}

ion-card-subtitle {
    font-size: 20px;
    margin-bottom: 50px;
    color: #fff;
}

.inicarbtn {
    --background: linear-gradient(90deg, #00CCFF, #FF00CC);
    border-radius: 50px;
    font-size: 15px;
    color: #FFF;
}

.inicarbtn:hover {
    --background: #fff;
    border-radius: 50px;
    color: #000;
}

.tag-text {
    text-align: center;
    padding-top: 20px;
}

.iniciar-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}


.registrarbtn {
    --background: transparent;
    font-size: 15px;
    color: #FFF;
}

.registrarbtn:hover {
    --background: linear-gradient(90deg, #00CCFF, #FF00CC);
    color: #000;
    border-radius: 60px;
}